.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.userImage {
  width: 110px;
}
.userName {
  font-weight: bold;
  font-family: Roboto;
  font-size: 15px;
}

.userDetails {
  font-family: Roboto;
  font-size: 10px;
}

@media screen and (min-width: 991px) {
  .userImage {
    display: flex;
    align-self: center;
    width: 180px;
  }
  .userName {
    display: flex;
    align-self: center;
    font-size: 25px;
  }
  .userDetails {
    display: flex;
    align-self: center;
    font-size: 15px;
  }
}
